header {
  background-color: blue;
  margin: 0px;
  font-family: Tahoma, Geneva, sans-serif;
  border-style: solid;
  border-color: rgb(0, 191, 255);
}

body {
  background-color: lightblue;
  margin: 0px;
  font-family: Tahoma, Geneva, sans-serif;
}
